{% extends "base.html" %}

{% block title %}<title>Education</title>{% endblock %}

{% block background %}
<style>
        body {
            background-image: url("../static/images/background.png");
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-section" >
    <div class="transparent">
       <img src="static/images/concordialogo.jpg" width=35% alt="Concordia University Logo">
   </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis eget ipsum vel sollicitudin. Nam sem neque, ornare ut elit lobortis, dignissim egestas mauris. Proin eu elit quis neque laoreet ullamcorper. Fusce in neque pharetra, pharetra massa eu, placerat ipsum. Phasellus semper porta pharetra. Nullam pulvinar risus ut magna accumsan aliquet. Suspendisse potenti. Quisque a sapien leo. Nullam facilisis semper odio vitae dictum. Nullam mattis semper diam, eu sagittis mi facilisis tristique. Donec egestas metus vel libero blandit laoreet. Nullam et ligula felis. Proin eleifend lacinia tortor sit amet finibus.

Aenean mattis, neque sit amet luctus pharetra, nibh neque elementum metus, ac gravida est nunc in nisi. Duis vestibulum dictum urna non facilisis. Pellentesque ac hendrerit eros, fermentum auctor massa. Nunc ac tincidunt orci, eget fringilla erat. Cras a risus eu ipsum suscipit tincidunt. Sed suscipit, mauris rutrum laoreet vehicula, nunc neque sagittis lorem, id elementum dolor justo id arcu. Pellentesque posuere non metus id aliquam.

Cras nec scelerisque sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ultrices ut arcu sed cursus. Nulla risus ligula, vehicula a ullamcorper et, iaculis ac ligula. Nam venenatis neque a dolor ultricies ornare. Nam aliquet, eros eu imperdiet egestas, ipsum augue blandit sem, quis sollicitudin tellus nisi sed est. Nullam eleifend ultrices maximus. Sed congue ligula semper tempus eleifend. Duis sagittis tristique venenatis.

Sed ut urna vel nunc gravida interdum non at ex. Aenean posuere leo est, id ornare est aliquet et. Sed luctus ligula ac aliquet auctor. Donec consectetur sem at magna mollis, sed ultricies velit placerat. Mauris eros enim, interdum ac feugiat in, molestie eu nisi. Cras consectetur nec est bibendum molestie. Duis feugiat magna sed orci euismod tincidunt. Phasellus ipsum dui, elementum ac cursus vel, sollicitudin id odio.

Etiam porta fringilla vestibulum. In auctor pharetra est non pretium. Sed posuere, sapien non accumsan fermentum, eros urna convallis neque, et lobortis sapien purus vitae mauris. Etiam vestibulum luctus quam viverra lobortis. Mauris tempus massa tortor, id fermentum dui ultrices a. Nam id enim ipsum. Curabitur viverra dolor ac dignissim vestibulum.
    </p>
    </div>
{% endblock %}